.nav_fixed {
    background-color: rgba(0, 0, 0, 0.838);
    position: relative;
}

h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
}

img {
    display: block;
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
}

.descricao_instituo {
    color: black;
    width: 80%;
    margin: 20px auto;
    font-size: 1.3rem;
}

h3 {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.info_instituto {
    margin: 20px auto;
    width: 80%;
}

.info_instituto p {
    color: black;
}

.containerProjetos {
    margin: 0 auto;
    width: 60%;
    padding: 50px 20px 0 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    height: 300px;
    width: 300px;
    border: 1px solid #3cb371;
    cursor: pointer;
}

.projetos img {
    display: block;
    width: 100%;
    height: 60%;
    border: 1px solid gray;
}

.projetos p {
    margin-top: 5px;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

.projetos p:last-of-type {
    width: 80%;
    font-size: 1rem;
    margin: 30px auto;
}