* {
    box-sizing: border-box;
}

#optionSelection {
    margin: 0 auto;
}

.container-form p {
    text-align: center;
}

.container-form {
    height: auto;
}

.type-user-container {
    display: flex;
    width: 45%;
    min-width: fit-content;
    margin: 10px auto;
    justify-content: space-between;
}

.type-user-option {
    display: flex;
    align-items: center;
}

.type-user-option input {

    margin: 0 0 0 5px;
}

.type-user-option:first-of-type {
    margin-right: 20px;
}

/*Instituição e Doador Form*/
.option-all {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputs label {
    display: block;
}

.telefoneCEP {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.numeroComplemento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*HIDE FORM*/
.hiden-form {
    display: none;
}


/*MEDIA QUERIES*/

@media (max-width: 750px) {
    .container-form {
        width: 100%;
    }

    form {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .telefone,
    .CEP,
    .numero,
    .complemento {
        flex-grow: 1;
    }
}